extends layout

block content
  form(id='forgot-password-form', method='POST', action='/forgot-password')
    legend Forgot Password
    .form-group
      label(for='email') Email
      input.form-control(type='text', id='email', name='email', autofocus)
    button.btn.btn-primary(type='submit') Reset Password
